@import '../../styles/settings.scss';

.columnForm {
  text-align: center;
  padding: 10px;
  span {
    margin-right: 3px;
  }
}

.formDiv {
  text-align: center;
}

.paddingLeft {
  padding-left: 15px;
}

.relative {
  position: relative;
}

.choseIcon {
  position: absolute;
  left: 20px;
  top: -2px;
  font-size: 18px !important;
  color: $color-warning;
}

@media (max-width: 550px){
  .formDiv {
    text-align: center;
    form {
      max-width: 300px;
      margin: auto auto;
    }
  }

  .smallMedia {
    display: inline-block;
    width: 100px;
  }
}