@import '../../styles/settings.scss';

.subtitle {
  margin-top: (- $base-size * 3);
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

@media (max-width: 500px) {
  
  .subtitle {
    font-size: ($base-size * 1.5);
  }

}