@use "sass:math";
@import '../../styles/settings.scss';

.favorite {
  padding: $base-size;
  justify-content: center;
}

.textAttention {
  font-size: 20px;
  text-align: center;
  color: $color-warning;
  text-decoration: underline;
}

.column {
  flex-shrink: 0;
  justify-content: center;
  width: calc(33% - 12px);
  background: $color-light;
  margin: auto auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;
}

.cards {
  padding: math.div($base-size, 2) 0;
}

.overCard {
  font-size: ($base-size * 0.9);
  color: rgb(72, 189, 72);
  font-style: italic;
  margin-bottom: 3px;
}

.firstSpan {
  padding: 0 30px 0 5px;
}

.divBelowCard {
  height: 13px;
}

.bold {
  font-weight: bold;
}

@media (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}