@import '../../styles/settings.scss';

.main_nav {
  background-color: darken($color-dark, 6%);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.vertical_align {
  display: flex;
}

.icon_and_title {
  margin-left: 20px;
  display: flex;
  flex: 2;
  justify-content: flex-start;
  font-size: 24px;
  a {
    color: white;
    text-decoration: none;
  }
  .app_name {
    height: 100%;
    padding-left: 12px;
    font-size: 22px;
    color: #1fcc74;
  }
}

.links {
  flex: 6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  a.linkActive {
    color: $color-warning;
  }
}